body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
  background: rgb(184, 53, 177);
  background: rgb(233, 103, 226);
  background: linear-gradient(
    0deg,
    rgba(233, 103, 226, 1) 0%,
    rgba(146, 23, 135, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_holder {
  width: 540px;
  height: 540px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.form_holder-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.form_holder-title {
  font-family: "Montserrat", sans-serif;
}
.form-nameSurname {
  display: flex;
}

.form-name {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 10px;
  position: relative;
}

.form-lastName {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-birthdayGender {
  display: flex;
}

.form-birthday {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 10px;
}

.form-emailPhone {
  display: flex;
}

.form-gender {
  display: flex;
  flex-direction: column;
}
.form-checkGender {
  display: flex;
  align-items: center;
}

.form-email {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 10px;
}

.form-phone {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-subject {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-label {
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
  box-shadow: 1px 1px 1px 0px grey;
  padding: 3px;
}
.form-input-radio {
  height: 30px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
}
.form-button {
  width: 30%;
  height: 40px;
  margin-top: 30px;
  border: 0;
  background-color: rgb(57, 57, 234);
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.form-name-icon {
  position: absolute;
  top: 53px;
  left: 246px;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
      }
    .container {
        width: 100%;
        height: 100vh;
      }
  .form_holder {
    width: 370px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
  }

  .form_holder-title {
    font-size: 17px;
    text-align: center;
  }
  .form-nameSurname {
    display: flex;
    flex-direction: column;
  }
  .form-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  .form-lastName {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form-birthdayGender {
    display: flex;
    flex-direction: column;
  }
  .form-birthday {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form-emailPhone {
    display: flex;
    flex-direction: column;
  }
.form-label {
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }

  .form-input {
    height: 20px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
    box-shadow: 1px 1px 1px 0px grey;
    padding: 3px;
  }
  .form-button {
    width: 20%;
    height: 30px;
    margin-top: 20px;
    border: 0;
    background-color: rgb(57, 57, 234);
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  .form-email {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 10px;
  }
  .form-phone {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-name-icon {
    position: absolute;
    top:50%;
    left: 93%;
    font-size: 13px;
  }

}
